body {
    scroll-behavior: smooth;
    opacity: 0;
    animation: fadeInBody 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeInBody {
    from { opacity: 0; }
    to { opacity: 1; }
}

main img {
    border-radius: 0.5rem;
}

main figcaption {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.error-db-message,
.success-db-message { 
    text-align: center;
    padding: 1rem;
    transition: opacity 0.3s ease-in;
    font-weight: bold; 
    z-index: 999;
    position: relative;
}

.error-db-message {
    background: #ffb6b6;
    color: #400a0a;
}
.success-db-message {
    background: #b6ffb6;
    color: #0a400a;
}
